html
  head
    title= title


  body

    h1= message
    form(method="post" action="/users/delete")
      ul
        for singe in singes
          li= singe.Nom
          li= singe.id
            button#id.form-control(name='#{singe.id}') Supprimer
