html
  head
    title= title


  body
<<<<<<< HEAD
    h1= message
    form(method="post" action="/users/delete")
      ul
        for singe in singes
          li= singe.Nom
          li= singe.id
            button#id.form-control(name='#{singe.id}') Supprimer
=======
    h1= message 
    ul
      for singe in singes
        li= singe.Nom
>>>>>>> fe8a1b200f1200e39cdff383b2b7ced8b8713c49
